.SingleCoversation{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    background-color: transparent;
    border-radius: 2px;
    padding: 5px;
    
}
.chatImageDiv{
    padding-right: 4px;
    display: flex;
}

 .chatSpan{
    padding: 5px;
    margin-top: 8px;
    border-bottom: solid 1px;
    border-color: #5abad4;
    width: 51vh;
}
.chatImage{
    width: 40px;
    height: 40px;
    object-fit:cover    ;
    border-radius: 50%;
    margin: 5px;
}
.SingleCoversation:hover{
    background-color: lightgray;
    border-radius: 2px;
    cursor: pointer;
}
.chatText{
    padding-left: 5px;
    font-weight: bold;
}