/* :root {
    --color-grey-primary: #f0f0f0;
    --color-yellow-primary: goldenrod;   
    --color-orange-primary: darkorange;
    --color-green-primary: mediumseagreen;
  }
   
  html{
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
  }
   */
  /* .App{
    display: grid;
    grid-template-columns: 350px 350px 350px;
    justify-content: center;
  } */


  
  .productList{
    display: flex;
    justify-content:space-around;
    
  }
  
  .productCard{
    position: relative;
    background-color: var(--color-grey-primary);
    margin: 1rem;
    flex: 1 0 2rem;
    max-width: 52rem;
    
    transition: 0.2s;
  }
  
  .productCard:hover{
    transform: translateY(-0.5rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #bbbbbb;
  }

  .cardTop{
    display: flex;
    padding: 5px;
  }

  .imgContainer{
    height: 250px;
    width: 300px;
    justify-Content: center;
    padding-left: 20px;
    padding-right: 20px;
  }

  .productImage{
    width:  100%;
    height: 100%;
    object-fit: cover;
  }
  
  /* .productCard__cart{
    position: absolute;
    right: 0;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  }
  
  .productCard__wishlist{
    position: absolute;
    right: 3rem;
    margin: 1rem;
    font-size: 2rem;
    transition: 0.2s;
    cursor: pointer;
  } */

  .time{
    position: absolute;
    justify-content: center;
    right: 2rem;
    margin-top: 0.2rem;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
  }

  .productCard__clock{
    position: absolute;
    right: 0rem;
    margin: 0.5rem;
    font-size: 1rem;
    transition: 0.2s;
    cursor: pointer;
    fill-opacity: 100%;
    color: #2693b2;
  }
  
  .status{
    margin-left: 9.5rem;
  }
  .status-activity{
    position: absolute;
    right: 0rem;
    margin-top: 0.5rem;
    margin-right: 0.7rem;
    font-size: 0.7rem;
    transition: 0.2s;
    cursor: pointer;
    fill-opacity: 100%;
    color: green;
  }
  
  .productCard__content {
    padding: 10px;

  }
  
  .productName{
    font-size: 1rem;
  }
  
  .displayStack__1,
  .displayStack__2{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .productPrice{
    font-size: 1rem;
    font-weight: bold;
  }
  
  .productSales,
  .productTime{
    font-size: 1.1rem;
  }

  .postCardBtn{
    padding: 10px;
    justify-content: center;
  }

  .postCard-btn{
    width: 280px;
  height: 35px;
  display: flex;
  margin-bottom: 3px;
  justify-content: center;
    align-items: center;
    background-color: #2693b2;
    box-shadow: 2px 5px 15px rgba(2, 238, 255, 0.336);
    border-radius: 5px;
  color:#ffffff;
  font-size: large;
  }
  .postCard-btn:hover{
    background-color: #E3BE00;
      transition: all ease 0.5s;
      color: #000000;
    }