
.PostCard{
    display: grid;
    
    grid-template-columns: repeat(3, 300px);
    justify-content: center;
    /* grid-template-rows: 570px 570px 570px; */
    grid-gap: 10px;

  }
  
  .search{
    position: fixed;
    background-color: brown;
  }
  