.search{
    width: 500px;
    border-color: black;

}

.search_comp{
    width: 100%;
    justify-content: center;
    align-items: center;
    position: sticky;
    display: flex;
    margin-top: 5rem;
    padding: 10px;
    /* background-color: ghostwhite; */

  }

  .search-input{
    height: 40px;
    width:600px;
    /* border-radius: 20px; */
    box-sizing: border-box;
    border-bottom: 2px solid #2693b2;
    padding: px;
    /* background-color: ghostwhite; */
    opacity: 90%;
    margin-left: 0rem;
  }

  .search-btn{
    /* width:110px;
  height: 40px;
  display: flex;
  justify-content: center;
    align-items: center; */
    background-color: #2693b2;
    /* box-shadow: 2px 5px 15px rgba(2, 238, 255, 0.336);
    border-radius: 10px; */
  color:#ffffff;
  }
  .search-btn:hover{
    /* background-color: #E3BE00; */
      transition: all ease 0.5s;
      color: black;
    }

    .Search__search{
     
      right: 0rem;
      margin-top: 0.5rem;
      font-size: 1rem;
      transition: 0.2s;
      cursor: pointer;
      fill-opacity: 100%;
      color: #2693b2;
      margin-left: 4rem;
      padding: 1px;
    }