.message{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.messageTop{
display: flex;
}
.messageImg{
    margin: 3px;
    width: 25px;
    height: 25px;
    object-fit: cover;
    /* border-radius: 50%; */
}
.messageText{
    padding-left: 5px;
    max-width: 450px;
    background: rgb(38 147 178);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 10px;
}

.messageBottom{
    font-size: 12px;
    margin-top: 0px;
}


/* important note */

.message.own{
    align-items: flex-end;
}

.message.own .messageText{
    background-color: lightgrey;
    color: black;
}

.achor{
    margin-top: 10px;
    padding: 0px;
    font-weight: 700;
}
.achor a {
    color: white;
}